*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    /*font-family*/
    font-family: "roboto", sans-serif;
    /*color schemes */
    --color-main :#22d3ee ;
    --color-secondary:#fde047 ;
    --color-tertiary : #d6d3d1;

    /*font-sizes */
    --h1-text : 2em ;
    --nav-text : 1.5em;
    --h2-text : 1.35em;
    --h3-text : 1.2em;
    

}

/*--------Grid layout on desktop---------------------------------------------*/

/*general grid layout of the page on desktop---------------------------------*/
body {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr ;
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 6;
}

.header {
    grid-column : 2 / 5 ;
    grid-row : 1 / 2;
}

.main {
    grid-column : 2 / 5 ;
    grid-row : 2 / 6;
}

/*grid layout for navbar section*/

.sidebar{
    display: flex;
    flex-direction: column;
    gap : 40px;
    
    background-color:var(--color-main) ;
    
    padding: 30px;
}

/*remove the underlining of the nav items*/
.sidebar a {
    text-decoration: none;
    color : white;
}
/*remove the bullet line styling of the list-items */
.sidebar li {
    list-style-type: none;
}

.sidebar ul a:hover{
    text-decoration: underline;
}

/*title */


h1 .title-text {
    margin-left: 20px;
    font-size: var(--h1-text); 
   
}

.dashboard-icon {
    width: var(--h1-text);
    height: var(--h1-text);
}
/*----*/
/*text nad icons styling */
.sidebar ul a {
    font-size: var(--nav-text);
}

.nav-icon {
    height: var(--nav-text);
    width: var(--nav-text);
    
}
/*separation between the nav icon and the text*/
.nav-icon + a {
    margin-left: 20px;
}

.sidebar ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/*layout for the header section -----------------------------------*/
.header{
    display: grid;
    gap: 10px;
    grid-template-columns: 2fr 1fr ;
    grid-template-rows:  1fr 1fr ;
    padding: 40px 30px;
}

/*search bar part*/
.search-container {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-container .search-button{
    -webkit-mask-size: cover;
    mask-size: cover;
    -webkit-mask-image: url(./images/magnify.svg);
    mask-image: url(./images/magnify.svg);
    background-color: black;
    width: 2em;
    height: 2em;
    cursor: pointer;
}

.search-input {
    border-radius: 50px;
    flex-grow: 1;
    height: 2em;
    border: none;
    background-color : var(--color-tertiary);

    padding: 5px 10px;
}
/*----*/

/*alert part */ 

.alert-container {
    display : flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.alert-container .alert-button{
    -webkit-mask-size: cover;
    mask-size: cover;
    -webkit-mask-image: url(./images/bell-outline.svg);
    mask-image: url(./images/bell-outline.svg);
    background-color: black;
    width: 2em;
    height: 2em;
    cursor: pointer;
}

.profile-picture-small {
    border-radius: 50%;

    height: 50px;
    width: 50px;
}

/*salutation part */ 

.salutation-container{
    display: flex;

    gap: 10px;

}

.profile-picture-big{
   
    border-radius: 50%;
    width: 75px;
    height: 75;
}

.salutation {
   
    grid-row : 1 / 2;
    font-size: var(--regular-text);
}

.user-name-big {
    
    grid-row: 2 / 3 ;
    font-size: var(--h1-text);
}

/*action part */

.actions-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.button-main {
    padding:  10px 20px ;
    border-radius: 50px;
    border: 3px solid var(--color-main);
    background-color: var(--color-main);
    color: white;
    font-size: var(--button-text);
}

.button-main:hover{
    background-color: white;
    color: var(--color-main);
}